// Styling for the portfolio section

.portfolio { 
  .port-cont {
      overflow: hidden;
  }

  .port-cont img {
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease;
      width: 100%;
  }

  .port-cont img:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      cursor: zoom-in;
  } 
}