body {
    border: 1px solid black;
    height: 1000px;
    padding: 2px;
}

.nav {
    border: 1px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
}

.nav>ul {
    display: flex;
    list-style-type: none;   
}
.nav>ul>li{
    padding: 15px 25px 15px 25px;
    border: 1px solid #3bfa73;
    margin-right: 10px;
}
.nav>ul>li>a{
    text-decoration: none;
}







img{
    width: 80px;
}