.navBar {
  background-color: black;

}

.navBar> ul{
  display: flex;
  list-style-type: none;
}
.navBar > ul > li > a{
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;

}