body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

.container {
  display: flex;
  position: relative;
  height: auto;
  width: calc(80vw);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px black;
}

.left-div {
  display: flex;
  background-color: rgb(12, 12, 12);
  width: 25%;
  padding-top: 10%;
  color: white;
}

.right-div {
  background-color: rgb(250, 250, 231);
  padding: 10% 30px 20px 30px;
  width: 75%;
}

.name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 13%;
  top: 3%;
  background-color: rgb(223, 208, 5);
  position: absolute;
}

.name {
  padding-left: 30px;
  font-size: 2em;
}

.profession {
  padding-left: 30px;
}

.info-box {
  padding-left: 25px;
}

.heading {
  font-size: 1.7em;
  border-bottom: 2px solid rgb(223, 208, 5);
}

.bold-span {
  font-weight: 700;
  margin-right: 10px;
}




/*  */




body{
  background-color: #E8EBEE
}

.post {
  width: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.post > img{
  width: 500px;
}